<link rel="stylesheet" href="/assets/cal-heatmap-master/cal-heatmap.css" />
<div class="input-group mb-3">
    
    <input type="text" class="form-control" placeholder="Saisir votre val numerique" [(ngModel)]="this.val" >
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"  type="button" (click)="clickme()">Valider</button>
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" style=" background-color: rgb(68, 204, 6);" type="button" (click)="getRandomNumberBetween()">ValiderR</button>
      </div>
      
  </div>
  <div id="cal-heatmap"></div> 
  <div class="input-group-append">
    <button id="example-getsvg-button" class="btn btn-outline-secondary" style=" background-color: aquamarine;" type="button" >Download</button>
  </div>
  <div class="input-group-append">
    <button id="med" class="btn btn-outline-secondary" type="button" style="background-color: coral;" >DownloadSVG</button>
  </div>
  
  <div id="mohsen"></div> 
 